{% extends "home_base.html" %}

{% block content %}
<h2>Crear estudiante</h2>
<form action="{{url_for('students.create')}}" method="POST">
    <div class="mb-3">
        <label for="university" class="form-label">Universidad</label>
        <select class="form-select" aria-label="Default select example" id="university" name="university">
            <option selected>Selecciona una universidad</option>
            {% for university in universities %}
            <option value="{{university.id}}">{{university.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
{% endblock %}